repos:
  - repo: builtin
    hooks:
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
      - id: check-case-conflict
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: check-symlinks
      - id: fix-byte-order-marker
      - id: detect-private-key
  - repo: local
    hooks:
      - id: lint
        name: lint
        language: system
        entry: yarn lintfix:precommit
        files: '\.(js|vue)$'
        require_serial: true
      - id: prettier
        name: prettier
        language: system
        entry: yarn prettier
        types: [text]
        exclude: '\.(js|vue)$'
        require_serial: true
