version: 2.1

orbs:
  bitcartcc: bitcartcc/bitcartcc-shared@1.0.4

jobs:
  test:
    docker:
      - image: circleci/node:14

    working_directory: ~/repo

    steps:
      - checkout

      - restore_cache:
          keys:
            - v2-dependencies-{{ checksum "package.json" }}-{{ .Branch }}
            - v2-dependencies-

      - run: yarn install

      - save_cache:
          paths:
            - node_modules
          key: v2-dependencies-{{ checksum "package.json" }}-{{ .Branch }}

      - run: yarn lint

workflows:
  version: 2
  test-and-deploy:
    jobs:
      - test
      - bitcartcc/deploy-amd64:
          name: deploy-amd64
          context: global
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /[0-9]+(\.[0-9]+)*/
      - bitcartcc/deploy-arm:
          name: deploy-arm
          context: global
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /[0-9]+(\.[0-9]+)*/
      - bitcartcc/deploy:
          name: deploy
          context: global
          requires:
            - deploy-amd64
            - deploy-arm
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /[0-9]+(\.[0-9]+)*/
