.row {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
html {
  overflow-y: auto !important;
}
.cursor-pointer:hover {
  cursor: pointer;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: inherit !important;
  -webkit-box-shadow: inherit !important;
  transition:
    background-color 5000s ease-in-out 0s,
    color 5000s ease-in-out 0s;
}
